/* header {
    font-family: Arial, Verdana, sans-serif;
    color: #0059b3;
    font-weight: bold;
    font-size: 50px;
    margin: auto;
    text-align: left;
    padding: 10px;
    /* float: left; */
    /* clear: both; */
} */

div {
    padding: 5px;
}

p {
    font-family: Arial, Verdana, sans-serif;
}


button {
    background-color: #4da6ff;
    border: none;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 8px;
    float: left;
}

button:hover {
    background-color: #0059b3;
    color: white;
}

.userInput {
    /* border: 1px solid #ddd; */
    float: left;
    padding: 10px;
    margin: 10px;
    clear: both;
    float:left;
    font-family: Arial, Verdana, sans-serif;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
  }

  figure {
    float: right;
    /* width: 10px; */
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 1px;
    padding: 5px;
  }

  .poseHard {
    border-color: #0077b3;
    border-width: thick;
  }

  .poseMedium {
      border-color: #99ddff;
      border-width: thick;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    border: 1px solid #ddd;
    /* float: right; */
    margin: 5px;
    clear:both;
    float: right;
  }
  
  th, td {
    text-align: left;
    padding: 5px;
  }
