body {
    display: grid;
    grid-gap: 1em;
    margin: 0 auto;
    max-width: 90%;
    padding: 1em 0;
  }
  
  main,
  footer {
    align-items: center;
    justify-content: center;
}

form {
    font-family: arial, helvetica, sans-serif;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.float:hover {
    background-color: #0059b3;
    color: white;
}

.float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  font-size: 35px;
}

img {
    border: 0.2em solid white;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
  }

  figure {
    /* width: 10px; */
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    /* border: thick silver solid; */
    margin: 1px;
    padding: 5px;
  }

.poseHard {
  border-color: #e68a00;
  border-width: 0.3em;
}

.poseMedium {
    border-color: #ffc266;
    border-width: 0.2em;
}

.poseEasy {
  border-color: #ffebcc;
  border-width: 0.2em;
}
