body {
  display: grid;
  grid-gap: 1.5em;
  margin: 0 auto;
  max-width: 90%;
  padding: 2em 0;
}
  
main,
{
  align-items: center;
  justify-content: center;
}

form {
  font-family: arial, helvetica, sans-serif;
  padding: 40px;
}

h1 {
  padding-bottom: 20px;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.float-go{
	position:fixed;
	width:70px;
	height:70px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  font-size: 35px;
}

.float-go:hover {
  background-color: #0059b3;
  color: white;
}

/* .float-menu{
	position:fixed;
	width:50px;
	height:50px;
	bottom:120px;
	right:52px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  font-size: 20px;
} */

/* flyout buttons */
/* https://codepen.io/SinceSidSlid/pen/vExJaP */

.float-filter{
	position:fixed;
	width:50px;
	height:50px;
	bottom:120px;
	right:52px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  font-size: 20px;
}

.float-filter:hover {
  background-color: #0059b3;
  color: white;
}

.float-share{
	position:fixed;
	width:50px;
	height:50px;
	bottom:180px;
	right:52px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  font-size: 20px;
}

img {
    border: 0.2em solid white;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
  }

figure {
  /* width: 10px; */
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  /* border: thick silver solid; */
  margin: 1px;
  padding: 5px;
}

.poseHard {
  border-color: #2640f2;
  border-width: 0.3em;
}

.poseMedium {
    border-color: #5c99e0;
    border-width: 0.2em;
}

.poseEasy {
  border-color: #82d9d4;
  border-width: 0.2em;
}

.about-level, .about-type, .about, .about-chakra, .about-shortcuts {
  padding-left: 20px;
  /* padding-bottom: 20px; */
}

.littleYogi {
  color: #82d9d4;
}

.yogi {
  color: #5c99e0;
}

.yogiMaster {
  color: #2640f2;
}

.root {
  color: #ff6666;
  padding: 10px;
}

.sacral {
  color: #ff944d;
  padding: 10px;
}

.solar {
  color: #e6e600;
  padding: 10px;
}

.heart {
  color:#5cd65c;
  padding: 10px;
}

.throat {
  color: #33bbff;
  padding: 10px;
}

.thirdEye {
  color: #3333ff;
  padding: 10px;
}

.crown {
  color: #9933ff;
  padding: 10px;
}

/* Test */

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}